PyMuPDF
google-cloud-texttospeech
google-cloud-vision
python-dotenv
python-multipart
fastapi
uvicorn[standard]
celery
redis
pydantic-settings
asyncpg
psycopg[binary]
sqlalchemy
alembic
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator